@charset utf-8;


/* http://www.google.com/fonts */
@import url("http://fonts.googleapis.com/css?family=Play");
@import url("http://fonts.googleapis.com/css?family=Oxygen");


html, body {
    /* http://bennettfeely.com/gradients */
    font-family:               Oxygen, sans-serif;
}

h1 {
    color:                     black;

    font-family:               Play, sans-serif;
    font-weight:               bold;
}



h2 {
    font-family:               Play, sans-serif;
    font-size:                 20px;
}



img {
    border:                    1px dotted gray;
    border-radius:             9px;
}

/*img:hover {*/
/*    filter:                  blur(1px) brightness(2);*/
/*    -webkit-filter:          blur(1px) brightness(2);*/
/*}
*/

meter {
    height:                    1em;

    width:                     75%;
}

button {
    background-color:          #F0D471;
    border-radius:             9px;

    height:                    2em;

    width:                     35%;
}



#header {
    background-color:          #F0D471;
    border:                    1px dotted gray;

    color:                     #F0E2D0;

    font-family:               Play, sans-serif;
    font-size:                 20px;

    padding:                   5px;

    text-align:                center;
}



#content {
    display:                   flex;

    height:                    100%;

    width:                     100%;
}



#nav {
    background-blend-mode:     multiply;
    background:
        radial-gradient(
            circle at bottom left,
            transparent 0,
            transparent 2em,
            beige 2em,
            beige 4em,
            transparent 4em,
            transparent 6em,
            khaki 6em,
            khaki 8em,
            transparent 8em,
            transparent 10em
        ),
        radial-gradient(
            circle at top right,
            transparent 0,
            transparent 2em,
            beige 2em,
            beige 4em,
            transparent 4em,
            transparent 6em,
            khaki 6em,
            khaki 8em,
            transparent 8em,
            transparent 10em
        ),
        radial-gradient(
            circle at top left,
            transparent 0,
            transparent 2em,
            navajowhite 2em,
            navajowhite 4em,
            transparent 4em,
            transparent 6em,
            peachpuff 6em,
            peachpuff 8em,
            transparent 8em,
            transparent 10em
        ),
        radial-gradient(
            circle at bottom right,
            transparent 0,
            transparent 2em,
            palegoldenrod 2em,
            palegoldenrod 4em,
            transparent 4em,
            transparent 6em,
            peachpuff 6em,
            peachpuff 8em,
            transparent 8em,
            transparent 10em
        ), blanchedalmond;
    background-position:       0 0, 0 0, 5em 5em, 5em 5em;
    background-size:           10em 10em;

    line-height:               50px;

    min-width:                 200px;

    text-align:                center;

    width:                     15%;
}



#section {
    border:                    1px dotted gray;

    padding:                   10px;

    width:                     85%;
}



#footer {
    background-color:          #F0D471;
    border:                    1px dotted gray;

    color:                     black;

    padding:                   10px;

    text-align:                center;

    width:                     99%;
}
